html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
    font-family: 'Roboto', sans-serif; 
}

.container {
    border: 4px solid black;
    background-color: rgb(161, 223, 223);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-top: 0;
    padding: 20px;
}

.input {
    border-radius: 15px;
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.button {
    height: 40px;
    width: 70px;
}
